<div class="container">
    <p>
        <mat-toolbar>
            <span>
                <mat-icon>list</mat-icon>Coordenadas Cliente
            </span>
        </mat-toolbar>
    </p>
    <h3>
        <div>
            Latitude: {{ coordenada.latitude }}
        </div>
        <div>
            Longitude {{ coordenada.longitude }}
        </div>
    </h3>
    <div class="mapa" id="mapa-tela">
    </div>
    <div *ngIf="linkEndereco">
        <a href="{{ linkEndereco }}" target="_blank">{{ linkEndereco }}</a>
    </div>
</div>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false" class="btn btn-danger ml-2">
        <i class="fa fa-solid fa-arrow-alt-circle-left"></i>
        <mat-icon>fast_rewind</mat-icon> Fechar
    </button>
</mat-dialog-actions>