<p>
    <mat-toolbar>
        <span>
            <mat-icon>list</mat-icon>
            <div *ngIf="cliente.id">
                Editar Cliente
            </div>
            <div *ngIf="!cliente.id">
                Cadastrar Cliente
            </div>

        </span>
    </mat-toolbar>
</p>

<div *ngIf="mostraProgresso">
    Aguarde Processando arquivos...
    <mat-progress-bar mode="indeterminate" class="progress">
    </mat-progress-bar>
</div>

<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div id="row">
            <div id="col-md-12">
                <div class="alert alert-danger" role="alert" *ngFor="let erro of listaErros">
                    {{ erro }}
                </div>
            </div>
        </div>

        <div id="row">

            <mat-form-field class="full-width" appearance="fill">
                <mat-icon matSuffix>fingerprint</mat-icon>
                <mat-label> <b>ID:</b> </mat-label>
                <input formControlName="id" matInput placeholder="Informe o ID:" />
            </mat-form-field>

            <div *ngIf="cliente.id">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-icon matSuffix>fingerprint</mat-icon>
                    <mat-label> <b>CNPJ:</b> </mat-label>
                    <input formControlName="cnpj" matInput placeholder="Informe o CNPJ:" type="text"
                    mask="00.000.000/0000-00" [showMaskTyped]="true"/>
                </mat-form-field>
            </div>

            <div *ngIf="!cliente.id">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-icon matSuffix>fingerprint</mat-icon>
                    <mat-label> <b>CNPJ:</b> </mat-label>
                    <input formControlName="cnpj" matInput placeholder="Informe o CNPJ:" type="text"
                        mask="00.000.000/0000-00" [showMaskTyped]="true" />
                </mat-form-field>
            </div>

            <mat-form-field class="full-width" appearance="fill">
                <mat-icon matSuffix>confirmation_number</mat-icon>
                <mat-label> <b>Nome</b> </mat-label>
                <input formControlName="nome" matInput placeholder="Informe o Nome do Cliente" />
            </mat-form-field>

            <div>
                <mat-form-field appearance="fill">
                    <mat-icon matSuffix>confirmation_number</mat-icon>
                    <mat-label> <b>CEP</b> </mat-label>
                    <input formControlName="cep" matInput placeholder="Informe o CEP do Cliente"  type="text"
                    mask="00000-000" [showMaskTyped]="true"/>
                </mat-form-field>
                <button type="button" class="btn btn-success espaco" (click)="pesquisarEnderecoViaCep()"
                    [disabled]="!formulario.controls['cep'].valid">
                    <i class="fa fa-save"></i>
                    <mat-icon>search</mat-icon>
                    Pesquisar VIA CEP
                </button>
            </div>

            <mat-form-field class="full-width" appearance="fill">
                <mat-icon matSuffix>confirmation_number</mat-icon>
                <mat-label> <b>Logradouro</b> </mat-label>
                <input formControlName="logradouro" matInput placeholder="Informe o logradouro do Cliente" />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-icon matSuffix>confirmation_number</mat-icon>
                <mat-label> <b>Bairro</b> </mat-label>
                <input formControlName="bairro" matInput placeholder="Informe o bairro do Cliente" />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-icon matSuffix>confirmation_number</mat-icon>
                <mat-label> <b>Localidade</b> </mat-label>
                <input formControlName="localidade" matInput placeholder="Informe a localidade do Cliente" />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-icon matSuffix>confirmation_number</mat-icon>
                <mat-label> <b>UF</b> </mat-label>
                <input formControlName="uf" matInput placeholder="Informe a uf do Cliente" />
            </mat-form-field>

            <div class="mapa">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Coordenadas do Cliente</mat-card-title>
                        <mat-card-subtitle>

                            <h3>Coordenada Atual:</h3>
                            <mat-form-field class="espaco" appearance="fill">
                                <mat-icon matSuffix>fingerprint</mat-icon>
                                <mat-label> <b>Latitude</b> </mat-label>
                                <input formControlName="latitude" matInput placeholder="Informe a latitude:" />
                            </mat-form-field>

                            <mat-form-field class="espaco" appearance="fill">
                                <mat-icon matSuffix>fingerprint</mat-icon>
                                <mat-label> <b>Longitude:</b> </mat-label>
                                <input formControlName="longitude" matInput placeholder="Informe a longitude:" />
                            </mat-form-field>

                            <hr />

                            <mat-card-header>
                                <mat-card-title>Definir nova coordenada</mat-card-title>
                                <mat-card-subtitle>
                                    EX: Rua Ubiratan 236, setor central Goiânia - Ou Informe o CEP: 74913335
                                    <mat-form-field class="full-width" appearance="fill">
                                        <mat-icon matSuffix>confirmation_number</mat-icon>
                                        <mat-label> <b>Endereço / CEP </b> </mat-label>
                                        <input matInput formControlName="enderecoPesquisa"
                                            placeholder="Digite o Endereço ex: Rua ubauda 236 Setor Central" />
                                    </mat-form-field>

                                </mat-card-subtitle>
                            </mat-card-header>

                            <button type="button" class="btn btn-success espaco"
                                (click)="obterNovaCoordenadasDoEndereco()"
                                [disabled]="!formulario.controls['enderecoPesquisa'].valid">
                                <i class="fa fa-save"></i>
                                <mat-icon>search</mat-icon>
                                Buscar Nova coordenada
                            </button>

                            <hr />

                        </mat-card-subtitle>
                    </mat-card-header>

                    <button type="button" class="btn btn-success espaco" (click)="abrirEnderecoClienteNoMapa()">
                        <i class="fa fa-save"></i>
                        <mat-icon>search</mat-icon>
                        Visualizar Coordenadas no MAPA
                    </button>

                </mat-card>

            </div>
        </div>
        <div id="row">
            <div id="col-md-12">
                <div class="alert alert-danger" role="alert" *ngFor="let erro of listaErros">
                    {{ erro }}
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success espaco" [disabled]="!formularioValido()">
            <i class="fa fa-save"></i>
            <mat-icon>save</mat-icon>
            <div *ngIf="cliente.id">
                Salvar Alterações
            </div>
            <div *ngIf="!cliente.id">
                Cadastrar
            </div>
        </button>
    </form>
</div>