<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright © CloudTecnologia 2023</div>
            <div class="text-muted">
                <a href="{{ swaggerApi }}" target="_blank">
                    Swagger API
                </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/thiago-melo-84246a149" target="_blank">
                    Thiago jr Linkedin
                </a>
            </div>
        </div>
    </div>
</footer>